.dice-content {
    background-color: #a8b0ff;
    height: 15rem;
    border-radius: 20px;
  }
  
  .button-dice-container {
    margin-top: 10%;
  }
  
  .dice-value-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100% !important;
  }
  
  .dice-value {
    text-align: center;
    color: white;
    font-size: 180px;
  }
  
  .dice-value-description {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 8px;
  }
  
  .ion-text {
    font-weight: bold;
  }

  .content {
    min-height: 70vh;
  }
