.d-flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.grid {
  max-height: 10%;
}

.content-header {
  display: flex;
  justify-content: space-between;
}

.content-title {
  display: flex;
  align-items: center;
  transform: translateY(-10px);
  width: 30%;
}

.content-input {
  width: 60%;
}

.timer-config {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.pt-2 {
  padding-top: 15px !important;
}

.h-list {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}